<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the personal website of Yuki, for 67250.">
    <meta name="keywords" content="">
    <meta name="author" content="Naama Ilany Tzur">
    <title>Yuki CMU</title>
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Yuki Ma</h1>
        <nav id="myTopnav" class="topnav">
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
            <a href="index.html">Home</a>
            <a href="cv.html">CV</a>
            <a href="contact.html" class="active">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>Contact Me</h2>
        <!-- have a form here -->
        <form action="">
            <label for="UserName">Your name (required): </label>
            <input type="text" name="UserName" id="UserName" required>
            <label for="UserEmail">Your email (required): </label>
            <input type="email" name="UserEmail" id="UserEmail" required>
            <label for="UserText">Your text (required): </label>
            <textarea name="UserText" id="UserText" cols="30" rows="10" required></textarea>
            <input type="submit" value="Send" onclick="validate()">
        </form>
        <p id="ValidateMsg"></p>
        
        <table>
            <tr><th>Contact Method</th><th>Description</th></tr>
            <tr><td>Email</td><td>yma2@andrew.cmu.edu</td></tr>
            <tr><td>Phone</td><td>2038689660</td></tr>
            <tr><td>LinkedIn</td><td>https://www.linkedin.com/in/yuki-ma-infosyspm/</td></tr>
        </table>
    </div>
    <footer>
        <p id="copyYear">Yuki Ma &copy</p>
    </footer>

</body>
</html>