<!DOCTYPE html> 
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the personal website of Yuki, for 67250.">
    <meta name="keywords" content="">
    <meta name="author" content="Naama Ilany Tzur">
    <title>Yuki CMU</title>
    <script defer src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Yuki Ma</h1>
        <nav id="myTopnav" class="topnav">
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>
            <a href="index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
        </nav>
    </header>
    <div class="main">
        <h2>CV</h2>
        <!-- a table here -->
        <table> 
            <tr>
                <th><strong>Company/Institution</strong></th>
                <th><strong>Position</strong></th>
                <th><strong>Description</strong></th>
            </tr>
            <tr>
                <td>Fulfill <br> (Startup)</td>
                <td>Chief Marketing Officer</td>
                <td><ul>
                    <li>Created detailed go to market strategy and financials analysis including profit and loss statements, cost projections, and CLV/CAC</li>
                    <li>Conducted marketing research to validate market and find unique positioning for developing product based on user pain points</li>
                    <li>Lead brand and UI/UX design for software, including crafting brand guides, wireframes, and prototypes in Figma and Swift</li>
                </ul></td>
            </tr>
            <tr>
                <td>WIETOP Research</td>
                <td>Marketing Research Analyst <br> (Intern)</td>
                <td><ul>
                    <li>Followed 3 qualitative and 2 quantitative full research projects that focused on improving consumer understanding and supporting new product developments</li>
                    <li>Formed 2 client-facing reports by analyzing quantitative and qualitative data collected from field research, focus groups, and surveys</li>
                    <li>Presented client facing slide decks and communicated with clients to understand client priorities and limitations</li>
                </ul></td>
            </tr>
            <tr>
                <td>American Marketing Association, <br> CMU Chapter</td>
                <td>Brand Designer, Design Committee</td>
                <td><ul>
                    <li>Rebuilt website and formed new marketing strategy for client in the biomedical field, which harnessed 240% increase in website traffic</li>
                    <li>Organized a full brand reform with complete visual, tone, and vocabulary guide including logo and brand style guide using Figma</li>
                </ul></td>
            </tr>
        </table>
        <a href="../static/Yuqing (Yuki) Ma-Resume Spring 2024.pdf" target="_blank">My Resume</a>

    </div>
    <footer>
        <p id="copyYear">Yuki Ma &copy</p>
    </footer>

</body>
</html>